In [1]:
import numpy as np
import pandas as pd
from sklearn import metrics
from sklearn.linear_model import LogisticRegression

In [2]:
df = pd.read_csv("../input/heart_folds.csv")
df.head()

,Unnamed: 0,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target,kfold
0,0,51,1,0,140,299,0,1,173,1,1.6,2,0,3,0,0
1,1,56,1,2,130,256,1,0,142,1,0.6,1,1,1,0,0
2,2,52,1,0,128,255,0,1,161,1,0.0,2,1,3,0,0
3,3,42,1,3,148,244,0,0,178,0,0.8,2,2,2,1,0
4,4,64,1,0,145,212,0,0,132,0,2.0,1,2,1,0,0

In [8]:
fold=1

In [9]:
df_train = df[df.kfold != fold].reset_index(drop=True)
df_train.head()

,Unnamed: 0,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target,kfold
0,0,51,1,0,140,299,0,1,173,1,1.6,2,0,3,0,0
1,1,56,1,2,130,256,1,0,142,1,0.6,1,1,1,0,0
2,2,52,1,0,128,255,0,1,161,1,0.0,2,1,3,0,0
3,3,42,1,3,148,244,0,0,178,0,0.8,2,2,2,1,0
4,4,64,1,0,145,212,0,0,132,0,2.0,1,2,1,0,0

In [10]:
df_valid = df[df.kfold == fold].reset_index(drop=True)
df_valid.head()

,Unnamed: 0,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target,kfold
0,55,66,0,3,150,226,0,1,114,0,2.6,0,0,2,1,1
1,57,38,1,2,138,175,0,1,173,0,0.0,2,4,2,1,1
2,58,68,0,2,120,211,0,0,115,0,1.5,1,0,2,1,1
3,60,68,1,2,118,277,0,1,151,0,1.0,2,1,3,1,1
4,61,56,0,1,140,294,0,0,153,0,1.3,1,0,2,1,1

In [14]:
x_train = df_train.drop("target", axis=1).values
y_train = df_train.target.values

In [16]:
x_valid = df_valid.drop("target", axis=1).values
y_valid = df_valid.target.values

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0,
       0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1,
       0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0], dtype=int64)

In [17]:
clf = LogisticRegression(random_state=0)

In [18]:
clf.fit(x_train, y_train)

C:\Users\hp\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=0, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [19]:
preds = clf.predict(x_valid)

In [20]:
accuracy = metrics.accuracy_score(y_valid, preds)

In [21]:
accuracy

0.819672131147541